.site-main {
    background-color:rgba(254, 254, 201, 1);
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 0;
    p {
        width: 940px;
        height: 75px;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
    }
    button {
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 30px;
        width: 159px;
        height: 53px;
        top: 115px;
        left: 391px;
        background-color: rgba(254, 254, 201, 1);
    }
}


    
    